@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --grenn: #27ae60;
  --orange: #f39c12;
  --red: #e74c3c;
  --black: #333;
  --light-color: #666;
  --white: #fff;
  --light-bg: #f6f6f6;
  /*--border:.2rem solid var(--black);*/
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--grenn);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grenn);
}

body {
  background-color: var(--light-bg);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3rem 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 2rem;
  padding: 1.3rem 3rem;
  text-transform: capitalize;
  cursor: pointer;
}

.btn {
  background-color: var(--grenn);
}

.delete-btn {
  background-color: var(--red);
}

.option-btn {
  background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background-color: var(--black);
}

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 10000;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--red);
}

.message i:hover {
  color: var(--black);
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  width: 50rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  padding: 2rem;
}

.form-container form h3 {
  font-size: 3rem;
  color: var(--black);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.form-container form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light-bg);
}

.form-container form p {
  margin-top: 2rem;
  font-size: 2.2rem;
  color: var(--light-color);
}
.form-container form p a {
  color: var(--grenn);
}

.form-container form p a:hover {
  text-decoration: underline;
}

/* media queries*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
